# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DateFilter.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# .NET
bin/
obj/
*.user
*.suo

# Rider / Visual Studio
.idea/
.vs/

# Publish artifacts outside docs
**/publish/

# OS cruft
.DS_Store
Thumbs.db
